{% extends 'base.html' %}
{% block middle_container %}
{% load static %}
    <section class="ftco-section contact-section create-story">
        <div class="container">
            <div class="row block-9 justify-content-center">
                <div class="col-md-6 order-md-last d-flex">
                    <form action="#" class="bg-light p-5 contact-form" method="POST" enctype="multipart/form-data">
                        <a class="navbar-brand center" href="#">Stories<span>.</span></a>
                        {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                       <div class="alert alert-{{message.tags}}" role="alert">
                         {{ message }}
                        </div>
                    {% endfor %}
                     {% endif %}
                        <div class="form-group">
                            {{form.title}}
                            {{form.title.errors}}
                        </div>
                        <div class="form-group">
                            {{form.description}}
                            {{form.description.errors}}
                        </div>
                        <div class="form-group">
                            {{form.ingredients}}
                            {{form.ingredients.errors}}
                        </div>
                        <div class="form-group">
                            {{form.directions}}
                            {{form.directions.errors}}
                        </div>
                        <div class="form-group">
                            {{form.prepare_time}}
                            {{form.prepare_time.errors}}
                        </div>
                        <div class="form-group">
                           {{form.category}}
                           {{form.category.errors}}
                        </div>
                        <div class="form-group">
                            {{form.tags}}
                        </div>
                        <div class="form-group">
                            {% comment %} <div class="container">
                            
                            <div class="tag-container">
                              {{form.tag_list}}
                              {{form.tag_list.errors}}
                            </div>
                            
                            </div>
                             {% endcomment %}
                            
                        </div> 
                        <div class="form-group">
                            {{form.recipe_image.label}}
                            {{form.recipe_image}}
                            {{form.recipe_image.errors}}
                        </div>
                        <div class="form-group">
                            {{form.cover_image.label}}
                            {{form.cover_image}}
                            {{form.cover_image.errors}}
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
   
{% endblock middle_container %}