{% load static %}

{% for recipe in recipes %}
                    <div class="col-md-6 col-lg-12">
                        <div class="blog-entry d-lg-flex">
                            <div class="half">
                            {% if recipe.recipe_image %}
                              <a href="{% url 'stories:recipe_detail' recipe.pk %}" class="img d-flex align-items-end"
                                   style="background-image: url({{recipe.recipe_image.url}});">
                            {% else %}
                              <a href="{% url 'stories:recipe_detail' recipe.pk %}" class="img d-flex align-items-end"
                                   style="background-image: url({% static 'images/image_1.jpg' %});">
                                  
                            {% endif %}
                                <div class="overlay"></div>
                                </a>
                            </div>
                            <div class="text px-md-4 px-lg-5 half pt-3">
                                <p class="meta d-flex"><span class="pr-3">{{recipe.category}}</span><span class="ml-auto pl-3">{{recipe.updated_at}}</span>
                                </p>
                                <h3><a href="{% url 'stories:recipe_detail' recipe.pk %}">{{recipe.title}}</a></h3>
                                <p>
                                {{recipe.description|truncatewords:30}}
                                </p>
                                <p class="mb-0"><a href="{% url 'stories:recipe_detail' recipe.pk %}" class="btn btn-primary">Read More <span
                                        class="icon-arrow_forward ml-4"></span></a></p>
                            </div>
                        </div>
                    </div>
                  {% endfor %}